<?xml version="1.0"?>

<model>
  <name>generic_obstacle</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>
  <author>
    <name>Lizzie Goeddel</name>
    <email>mamantov@umich.edu</email>
  </author>
  <description>
    A generic box for obstacle avoidance
  </description>
</model>
