<launch>

<arg name="remote_soar" default="false"/>
<arg name="agent_file" default=""/>

<node name="svs_ros_connector" pkg="svs_ros_connector" type="svs_ros_connector_node" output="screen">
<param name="remote_soar" type="bool" value="$(arg remote_soar)"/>
<param name="agent_file" type="string" value="$(arg agent_file)"/>
</node>

</launch>